
ul{
    list-style-type: none;
    border: 1px solid #b8aeae; 
    background-color: #e6e0e0;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li{
    float: left;
}

a{
    text-decoration: none;
    color:rgb(51, 177, 104);
}

li a{
    display:block;
    color: rgb(51, 177, 104);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

li a:hover{
    background-color: #e4e0e0;
}

.nav-right{
    float:right;
}
li a.active{
background-color: rgb(184, 187, 39);
color: rgb(51, 177, 104);
}

table {
    width:92%;
    border-collapse: collapse;
}

thead tr{
    text-align: center;
}

thead{
    background-color: rgb(184, 187, 39);
    color:white;    
}


tbody tr:nth-child(even){
background-color:rgb(207, 204, 204);

}

.button{
    background-color: rgb(184, 187, 39);
    border:2;
    padding: 15px 32px;
    color : rgb(22, 24, 23);
    font-size:14px;
    display: block;

}

input[type=text],[type=email],[type=tel],[type=date],select,textarea{
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    font-size: 17px;

}
fieldset{
    margin: 65px;
}
p{
    font-family: 'Serif';
    letter-spacing: 3px;
    text-indent: 50px;
    text-align: justify;
}

form{
    width: 100%;
    
}
    